<script>
$(function() {
  $('.drag').draggable({
    revert: true
  });
  $('.drop').droppable({
    tolerance: 'touch',
    drop: function(e, ui){
      $(this).html(
        $(this).html() +
        '<td class="bg-success select_result">' +
        ui.draggable.html() +
        '<a class="">削除</a>' +
        '</td>'
       );
      $('.drag').draggable({
        revert: true
      });
      $('.select_result').click(function(){
        res = confirm("削除しちゃいます。いいですか？");
        if (res == true){
          $(this).remove();
        }
      });
    }
  })
});
</script>
<% if results %>
  <h2>検索結果</h2>
  <%= form_tag(togethers_link_searchs_output_path, method: :post) do %>
    <%= submit_tag('lodge出力', class: "btn btn-success", name: "lodge") %>
    <table class = "table table-bordered table-hover table-condensed">
      <thead>
        <tr class="bg-primary">
          <th>
            No
          </th>
          <th>
            Info
          </th>
        </tr>
      </thead>
      <tbody>
    <% results.each.with_index(1) do |result, idx| %>
      <tr class="<%= cycle('bg-success', 'bg-warning') %>">
        <td>
          <%= idx %><br />
        </td>
        <td class="drag">
          <img src="<%= user_image_list[result[:user_name]] %>" />
          <input type="hidden" name="images[]" value="<%= user_image_list[result[:user_name]] %>">
          <input type="hidden" name="names[]" value="<%= result[:user_name] %>">
          <input type="hidden" name="texts[]" value="<%= result[:text] %>">
          <input type="hidden" name="channels[]" value="<%= result[:channel_name] %>">
          <input type="hidden" name="links[]" value="<%= result[:permalink] %>">
          <input type="hidden" name="tss[]" value="<%= result[:ts] %>">
          <a href="<%= result[:permalink] %>"><%= result[:user_name] %></a><br />
            <%= slack_markdown_processor.call(result[:text])[:output].to_s.html_safe %>
            <br />
            <span class="small text-muted"><%= result[:channel_name] %></span>
        </td>
      </tr>
    <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
