<% if todo_list.present? %>
  <h2>検索結果</h2>
  <%= form_tag('/todo_work/<%= @channel_name %>', method: :post) do %>
    <%= submit_tag('更新', class: "btn btn-info", name: "modify") %>
    <table class = "table table-bordered table-hover table-condensed">
      <thead>
        <tr class="bg-primary">
          <th>
            Todo
          </th>
        </tr>
      </thead>
      <tbody>
    <% extract_for_table(results).each.with_index(1) do |result, idx| %>
      <tr class="<%= cycle('bg-success', 'bg-warning') %>">
        <td>
          <%= idx %><br />
        </td>
        <td class="drag">
          <img src="<%= user_image_list[result[3]] %>" />
          <input type="hidden" name="images[]" value="<%= user_image_list[result[3]] %>">
          <input type="hidden" name="names[]" value="<%= result[3] %>">
          <input type="hidden" name="texts[]" value="<%= result[4] %>">
          <input type="hidden" name="channels[]" value="<%= result[1] %>">
          <a href="<%= result[5] %>"><%= result[3] %></a><br />
            <%= slack_markdown_processor.call(result[4])[:output].to_s.html_safe %>
            <br />
            <span class="small text-muted"><%= result[1] %></span>
        </td>
      </tr>
    <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
