<h2>
【<%= @channel_name %>】の今日のタスク状況
<a class="small" href="/todo_work/<%= @channel_name %>">更新する</a>
</h2>
<div id="todolist" class="col-sm-12">
  <%= render(partial: 'todolist', locals: { todolist: @todolist } ) %>
</div>
<div id="todo_list"  class="col-sm-4">
  <%= render(partial: 'todo_list', locals: { todo_list: @todo_list } ) %>
</div>
<div id="do_list" class="col-sm-4">
  <%= render(partial: 'do_list', locals: { do_list: @do_list } ) %>
</div>
<div id="done_list" class="col-sm-4">
  <%= render(partial: 'done_list', locals: { do_list: @do_list, done_list: @done_list } ) %>
</div>
<div id="comment_list" class="col-sm-12">
  <%= render(partial: 'comment_list', locals: { comment_list: @comment_list } ) %>
</div>
