<% if results %>
  <h2>検索結果</h2>
  <%= form_tag('/save', method: :post) do %>
    <table class = "table table-striped table-bordered">
      <thead>
        <tr>
          <th>
            No
          </th>
          <th>
            該当チャンネル
          </th>
          <th>
            ユーザ
          </th>
          <th>
            発言内容
          </th>
          <th>
            リンク
          </th>
        </tr>
      </thead>
      <tbody>
    <% results.each.with_index(1) do |result, idx| %>
      <tr>
        <td>
          <%= idx %>
        </td>
        <td>
          <%= result[1] %>
        </td>
        <td>
          <%= result[3] %>
        </td>
        <td>
          <%= result[4] %>
        </td>
        <td>
          <%= result[5] %>
        </td>
      </tr>
    <% end %>
      </tbody>
    </table>
    <%= submit_tag('保存', class: "btn btn-info") %>
    <%= submit_tag('loadge出力', class: "btn btn-success") %>
  <% end %>
<% end %>
