<table class = "table table-bordered table-hover table-condensed">
  <thead>
    <tr class="bg-primary">
      <th>
        No
      </th>
      <th>
        done
      </th>
      <th>
        経過時間
      </th>
    </tr>
  </thead>
  <tbody>
  <% done_list.each.with_index(1) do |list, idx| %>
    <tr class="<%= cycle('bg-success', 'bg-warning') %>">
      <td>
        <%= idx %><br />
      </td>
      <td >
        <%= work_by(@slack_markdown_processor.call(list[:text])[:output].to_s.html_safe) %>
        <br />
        <span class="small text-muted"><%= time_by(list[:ts]) %></span>
      </td>
      <td>
        <%= doing_time(list, do_list, done_list, idx) %> 
      </td>
    </tr>
  <% end %>
 </tbody>
</table>
