<h2>
  【<%= @channel_name %>】の今日のタスク状況
  <%= link_to("更新する", {controller: "todo_managements", action: "index", channel: @channel_name}, class: "small") %>
</h2>
<div id="todo_list"  class="col-sm-4">
  <%= render(partial: 'todo_list', locals: { todo_list: @todo_list } ) %>
</div>
<div id="do_list" class="col-sm-4">
  <%= render(partial: 'do_list', locals: { do_list: @do_list } ) %>
</div>
<div id="done_list" class="col-sm-4">
  <%= render(partial: 'done_list', locals: { do_list: @do_list, done_list: @done_list } ) %>
</div>
<div class="col-sm-4 pull-right">
  <%= form_tag({controller: "todo_managements", action: "index"}, name: "todo_date_form") do %>
    <input type="hidden" value="<%= @channel_name %>">
    過去のタスク状況を見る。
    <%= text_field(:selected_day, '', class: 'form-control datetimepicker', placeholder: '日付を入力してね') %>
    <%= submit_tag('表示', class: "btn btn-primary ladda-button", "data-style" => "contract") %>
  <% end %>
</div>
<div id="task_list" class="col-sm-12">
  <%= render(partial: 'task_list', locals: { task_list: @task_list } ) %>
</div>
<script>
$(document).ready(function(){
  var data = {'data-format': 'yyyy-MM-dd' };
  $('.datetimepicker').attr(data);
  $('.datetimepicker').datetimepicker();
});
</script>
