<!-- 

navbar-inverse : 黒いスタイルに変更
navbar-origin : オリジナルスタイルを当ててみると・・・

-->

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid" style="background-color: #000;">

    <!-- スマートフォンサイズで表示されるメニューボタンとテキスト -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- タイトルなどのテキスト -->
      <%= link_to("Slack on Rails!", { controller: :together, action: :top }, { class: "navbar-brand" }) %>

    </div>

    <!-- グローバルナビの中身 -->
    <div class="collapse navbar-collapse" id="nav-menu-4">

      <!-- 各ナビゲーションメニュー -->
      <ul class="nav navbar-nav">
        <!-- 通常のリンク -->
        <li class="active">
          <%= link_to("マイページ", controller: :together, action: :top) %>
        </li>
        <!-- ドロップダウンのメニューも配置可能 -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="">まとめ機能関係　</span><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ><%= link_to("文字列で検索", controller: :together, action: :query) %></li>
            <li><%= link_to("リンクで検索", controller: :together, action: :link) %></li>
          </ul>
        </li>
        <!-- ドロップダウンのメニューも配置可能 -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="">おたっく関係　</span><span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to("個人別検索", controller: :otacks, action: :index) %></li>
            <li><%= link_to("一覧表示", controller: :otacks, action: :show) %></li>
          </ul>
        </li>
        <li>
          <%= link_to("ログアウト", controller: :sessions, action: :destroy) %>
        </li>
      </ul>
    </div>
  </div>
</nav>
