<style>
.slide_bar{
  color: white;
}
.slide_bar_select{
  background-color: black;
  width: 70%;
  color: white;
  height: 50%;
  font-size:12px;
}

</style>

<script>
function search_submit(name){
  var browser = document.forms["channel_form"].elements[name].value;
  location.href = browser
}
</script>

<div class="hidden-xs slide_bar" role="complementary" style="background-color: #4D394B; color: #AB9BA9;">
  <br />
  <ul style="height: 100vh;">
    <h4>■Channel指定検索■</h4>
    <h5>kb系</h5>
    <%= form_tag('', name: "channel_form") do %>
    <li><%= select_tag('kb_search', options_for_select(kb_in(channel_list)), class: "form-control slide_bar_select", onchange: "search_submit('kb_search')") %></li>
    <h5>times系</h5>
    <li><%= select_tag('times_search', options_for_select(times_in(channel_list)), class: "form-control slide_bar_select", onchange: "search_submit('times_search')") %></li>
    <h5>xclub系</h5>
    <li><%= select_tag('xclub_search', options_for_select(xclub_in(channel_list)), class: "form-control slide_bar_select", onchange: "search_submit('xclub_search')") %></li>
    <h5>その他</h5>
    <li><%= select_tag('etc_search', options_for_select(etc_in(channel_list)), class: "form-control slide_bar_select", onchange: "search_submit('etc_search')") %></li>
  <% end %>
  </ul>
</div>
