<style>
.slide_bar{
  color: white;
}
.slide_bar_select{
  background-color: black;
  width: 70%;
  color: white;
  height: 50%;
  font-size:12px;
}

</style>

<script>
function search_submit(name){
  var link = document.forms["channel_form"].elements[name].value;
  document.forms["channel_form"].action = "/<%= Constants::ROOT_PATH %>search/" + link;
  document.forms["channel_form"].method = "POST";
  document.forms["channel_form"].submit();
}
function todo_submit(name){
  var link = document.forms["todo_management_form"].elements[name].value;
  document.forms["todo_management_form"].action = "/<%= Constants::ROOT_PATH %>todo_management/" + link;
  document.forms["todo_management_form"].method = "POST";
  document.forms["todo_management_form"].submit();
}
</script>

<div class="hidden-xs slide_bar" role="complementary" style="background-color: #4D394B; color: #AB9BA9;">
  <br />
  <ul style="height: 100vh;">
    <h5>■Channel指定検索■</h5>
    <%= form_tag('', name: "channel_form") do %>
    <li><%= select_tag('kb_search', options_for_select(kb_in(channel_list)), class: "form-control slide_bar_select", onchange: "search_submit('kb_search')") %></li>
    <li><%= select_tag('times_search', options_for_select(times_in(channel_list)), class: "form-control slide_bar_select", onchange: "search_submit('times_search')") %></li>
    <li><%= select_tag('xclub_search', options_for_select(xclub_in(channel_list)), class: "form-control slide_bar_select", onchange: "search_submit('xclub_search')") %></li>
    <li><%= select_tag('etc_search', options_for_select(etc_in(channel_list)), class: "form-control slide_bar_select", onchange: "search_submit('etc_search')") %></li>
  <% end %>
  <h5>■タスク管理■</h5>
  <%= form_tag('', name: "todo_management_form") do %>
    <li><%= select_tag('times_todo', options_for_select(times_in(channel_list)), class: "form-control slide_bar_select", onchange: "todo_submit('times_todo')") %></li>
  <% end %>
  <h5>■おたっくチャンネル■</h5>
  <ul>
    <li><%= link_to("個人別検索", otacks_path) %></li>
    <li><%= link_to("一覧表示", otacks_path) %></li>
  </ul>
</div>
